* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20%;
  height: 55px;
  position: fixed;
  width: 100vw;
  z-index: 1;
  background-color: white;
}

.logo {
  width: 130px;
}

.nav-elements {
  display: flex;
  gap: 10px;
  align-items: center;
}

.nav-elements a {
  text-decoration: none;
  color: black;
}

#red-colored {
  text-decoration: none;
  color: orangered;
}

#contact-button {
  background-color: orangered;
  padding: 3px 5px;
  border-radius: 4px;
  color: white;
}

#home {
  height: 80vh;
  background-image: url("bg_banner1.jpg");
  background-size: cover;
  position: relative;
  top: 55px;
  background-color: rgba(149, 147, 147, 0.845);
  background-blend-mode: multiply;
}

.home-elements {
  position: absolute;
  top: 45%;
  left: 10%;
  color: white;
}

.home-text {
  font-family: Helvetica, sans-serif;
  letter-spacing: 1px;
  font-size: 13px;
  margin-bottom: 15px;
  text-transform: uppercase;
  display: block;
}

.home-title {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  font-size: 36px;
  width: 400px;
  line-height: 40px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 15px;
}

.start-button {
  padding: 5px 15px;
  border-radius: 5px;
  background-color: orangered;
  color: white;
  border: none;
  margin-right: 10px;
}

.work-button {
  padding: 5px 15px;
  border-radius: 5px;
  background-color: transparent;
  color: whitesmoke;
  border: 1px solid whitesmoke;
}

#about {
  height: 70vh;
  position: relative;
  top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  margin-bottom: 50px;
}

.about-info {
  display: flex;
  flex-direction: column;
}

.about-info div img {
  float: left;
  width: 60px;
  margin: 40px 10px 10px 40px;
}

.about-info div span {
  width: 400px;
  display: block;
  color: #616060;
}

.about-info div h3 {
  margin-top: 40px;
  margin-bottom: 5px;
}

.about-image {
  width: 300px;
}

.about-followers {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 22vh;
  gap: 30px;
  background-image: url("bg_banner1.jpg");
  background-size: cover;
  /* to'g'rilaaaaa */
  background-color: rgba(245, 71, 7, 0.788);
  background-blend-mode: overlay;
  color: white;
  text-align: center;
}

.numbers {
  display: block;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 8px;
}

.followers-description {
  display: block;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

#services {
  height: 125vh;
  text-align: center;
  padding-top: 30px;
}

#services span {
   color: rgb(246, 77, 15);
   text-transform: uppercase;
   font-size: 11px;
   font-family: Arial, Helvetica, sans-serif;
   margin-bottom: 20px;
   display: block;
   margin-top: 30px;
}

.service-title {
  display: block;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  margin-bottom: 10px;
}

.service-info {
  color: #575555;
  line-height: 1.5;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  justify-items: center;
  padding-top: 30px;
}

.grid-block {
  width: 300px;
  height: 300px;
  padding: 10px;
  box-shadow: 1px 1px 2px 2px rgba(151, 150, 150, 0.775)
}

.grid-image {
  margin-top: 20px;
}

.grid-title {
  display: block;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.grid-description {
  color: #565555;
  margin-top: 15px;
  line-height: 1.5;
}

#portfoilo {
  height: 80vh;
  text-align: center;
  background-color: rgb(243, 246, 247);
  justify-items: center;
}

.port-span {
  color: rgb(246, 79, 18);
  text-transform: uppercase;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  padding-top: 40px;
  margin-bottom: 20px;
}

.portfolio-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  margin-bottom: 15px;
}

.port-text {
  width: 600px;
  margin: 10px auto;
  color: rgb(66, 65, 65);
}

.port-container {
  display: flex;
  gap: 5px;
  margin-top: 30px;
}

.port-container img {
  width: 400px;
  height: 300px;
  object-fit: cover;
}

.circle {
  width: 8px;
  height: 8px;
  background-color: rgb(171, 168, 168);
  border-radius: 50%;
}

.circles {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  margin-top: 10px;
}

.circle.colored {
  background-color: rgb(246, 94, 39);
}

.team-span {
  color: rgb(246, 79, 18);
  text-transform: uppercase;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  padding-top: 40px;
  margin-bottom: 20px;
}

.team-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  margin-bottom: 15px;
}

.team-text {
  width: 500px;
  margin-bottom: 30px;
  color: rgb(66, 65, 65);
  line-height: 1.4;
}

#team {
  height: 90vh;
  text-align: center;
  justify-items: center;
}

.team-members {
  display: flex;
  width: 800px;
  gap: 15px;
}

.team-block {
  width: 33%;
  height: 300px;
}

#team img {
  width: 100%;
  height: 85%;
  object-fit: cover;
}

.team-member {
  margin-top: 10px;
  display: block;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.team-job {
  font-size: 13px;
  margin-top: 4px;
  font-family: Arial, Helvetica, sans-serif;
  color: #3e3d3d;
}

.hero {
  height: 60vh;
  background-image: url("bg_banner1.jpg");
  background-position: center;
  background-size: cover;
  background-color: rgba(38, 63, 107, 0.7);
  background-blend-mode: multiply;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  width: 700px;
  margin: 0 auto;
  text-align: center;
  color: white;
}

.avatar {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  object-fit: cover; 
  display: block;
  margin: 0 auto 15px;
}

.hero-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.hero-title {
  color: #e74c3c;
  font-size: 14px;
  display: block;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.hero-text {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #cccccc;
}

.stars {
  color: #e74c3c;
  font-size: 22px;
  margin-bottom: 10px;
}

.dots {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.dot {
  width: 12px;
  height: 12px;
  background-color: #848282;
  border-radius: 50%;
  display: inline-block;
}

.dot.active {
  background-color: #e74c3c;
}

#blog {
  padding: 60px 40px;
  text-align: center;

}

.blog-label {
  color: #e74c3c;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 10px;
}

.blog-heading {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.blog-description {
  color: #313030;
  font-size: 14px;
  max-width: 600px;
  margin: 20px auto;
  line-height: 1.6;
}

.blog-cards {
  display: flex;
  justify-content: center;
  gap: 30px
}

.blog-card {
  width: 300px;
  background: white;
  border-radius: 2px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  text-align: left;
}

.card-image-wrapper {
  position: relative;
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

.card-category {
  position: absolute;
  top: 15px;
  left: 15px;
  background-color: #e74c3c;
  color: white;
  padding: 5px 15px;
  border-radius: 13px;
  font-size: 13px;
  font-weight: bold;
}

.card-body {
  padding: 20px;
}

.card-date {
  color: #e74c3c;
  font-size: 12px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 8px;
  text-decoration: underline;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  color: #777;
  font-size: 14px;
  line-height: 1.5;
}